## This notebook contains some modifications to the code you will see in the videos for Lab02!

In [1]:
import requests
#url = "https://rga.lis.virginia.gov/Published/2017/RD309/PDF"
url = "https://thedatadoctor.io/wp-content/uploads/2019/07/fiscal_wm.pdf"
print(url)

https://thedatadoctor.io/wp-content/uploads/2019/07/fiscal_wm.pdf

In [2]:
r = requests.get(url)

In [3]:
with open("./fiscal_wm.pdf", 'wb') as f:
    f.write(r.content)

In [4]:
# The first time you try to run pdfplumber, it will not be installed
# Uncomment the below line to install it:
#!pip install pdfplumber
%matplotlib inline
import pandas as pd
import pdfplumber

In [5]:
pdf = pdfplumber.open("./fiscal_wm.pdf")
page = pdf.pages[8]
page

In [6]:
# IMPORTANT!!!
# This is slightly different than what is explained in the video!
# Make sure to do this, otherwise you might not be working with the same table!
tables=page.extract_tables()
table = tables[0]

In [7]:
# At this point, you should be working with the same table that is shown in the video
df = pd.DataFrame(table)
df

,0,1,2,3,4
0,Note: If you do not have actual amounts for T...,None,None,None,None
1,Allocation of Tuition Revenue Used for Student...,None,None,None,None
2,2015-16 (Actual),None,None,None,None
3,T&F Used for Financial Aid,Gross Tuition \nRevenue,Tuition Revenue \nfor Financial Aid \n(Program...,% Revenue for \nFinancial Aid,Distribution of \nFinancial Aid
4,"Undergraduate, In-State","$50,045,200","7,293,000",14.6%,"$13,672,000"
5,"Undergraduate, Out-of-State","$71,713,400","10,450,700",14.6%,"$4,071,700"
6,"Graduate, In-State","$10,182,100","$2,405,000",23.6%,"$1,358,600"
7,"Graduate, Out-of-State","$8,623,100","$2,036,700",23.6%,"$3,083,100"
8,"First Professional, In-State","$4,670,300","$1,244,500",26.6%,"$1,519,400"
9,"First Professional, Out-of-State","$13,898,900","$3,703,700",26.6%,"$3,428,800"
10,Total,"$159,133,000","$27,133,600",17.1%,"$27,133,600"
11,In-State Sub-Total,"$64,897,600","$10,942,500",16.9%,"$16,550,000"